*{
  margin:0px;
  padding:0px;
  position:relative;
  font-family: "Helvetica Neue";
  color: white;
  font-weight:normal;
  /*font-size: 18px; */
  font-size: 1em;
  text-align: center;
}

p{
  line-height: 150%;
  height:auto;
  width:auto;
}

div{
  width:100%;
  background-size: cover;
}

.bold{
  font-weight: bold;
}

.underline{
  text-decoration: underline;
}

.auto{
  width:auto;
}

.left{
  float:left;
}

.right{
  float:right;
}

.clear{
  clear:both;
  height: 0;
}

.Nav{
  height:auto;
  width:auto;
}

img.InlineImg{
  align: left;
  margin-right:10px;
}

.HeaderLinks{
  width: auto;
  height: auto;
  float: left;
}

.FooterLinks{
  width: auto;
  height: auto;
  margin: 0px auto;
}

a.Link{
  font-weight: bold;
  float:left;
  margin: 50px 25px 0px 25px;
  font-size: 1.2em;
}

#heroHome{
  background-image: url('../images/home-min.png');
  min-height: 550px;
}

#heroAbout{
  background-image: url('../images/about-min.png');
  background-size: cover;
  min-height: 550px;
}

#heroCareer{
  background-image: url('../images/career-min.png');
  background-size: cover;
  min-height: 550px;
}

#footer{
  width:100%;
  background-color:#16272C;
  bottom:0px;
}

.FooterWrapper{
  width:auto;
  margin:auto;
}

.FooterContent {
    float:left;
    width:100%;
    padding:20px 0;
}

#footer p {float:left; width:100%; text-align:center; }

#footer a {
  font-weight: bold;
  margin: 25px;
}

.HeaderLogo{
  margin:25px;
  float:left;
}

.FooterLogo{
  margin:0px auto;
}

.FooterLinks{
  width:auto;
  height:auto;
  margin: 25px auto;
}

h1.Tag{
  font-weight: bold;
  /*font-size: 60px; */
  font-size: 3.333em;
  margin: 5% 20% 0% 20%;
  text-align: center;
}

h2.SubTag{
  font-family: Garamond;
  font-style:italic;
  margin: 15px 15% 0px 15%;
  /*font-size: 28px;*/
  font-size: 1.75em;
}

a.BlueButton:link{
  height: auto;
  width: auto;
  border:2px solid white;
  color: white;
  text-align: center;
  font-family: calibri;
  /*font-size:18px;*/
  font-size: 1.2em;
  padding: 20px 30px;
  font-weight: bold;
  display:inline-block;;
}

a.BlueButton:visited{
  color:white;
}

a.BlueButton:hover{
  background: white;
  color: #16272C;
  border: 2px solid white;
}


a.Button:link{
  height: auto;
  width: auto;
  border:2px solid #16272C;
  color: #16272C;
  text-align: center;
  font-family: calibri;
/*  font-size:18px;*/
  font-size: 1.2em;
  padding: 20px 30px;
  font-weight: bold;
  display:inline-block;;
}

a.Button:visited{
  color:#16272C;
}

a.Button:hover{
  background:#16272C;
  color: white;
}

a:link{
  color:white;
}
/* visited link */
a:visited {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

#intro{
  width:100%;
  height:auto;
  background-color:#3F4D51;
}

#introText{
  height:auto;
  width:auto;
  margin:0px 20%;
  text-align:center;
  font-size: 1.3em;
}

#funFacts{
  width:100%;
  background-color:#3F4D51;
}

#funFactsWrapper{
  heigh:auto;
  width:auto;
  margin:0px 20%;
}

#funFactsWrapper h3{
  padding: 15px 0px;
  text-align:left;
/*  font-size: 48px;*/
	font-size: 2.667em;
}

#aboutMe{
  width:auto;
  height:auto;
  clear:both;
}

#aboutMe h3{
  padding: 15px 20%;
  text-align:center;
  /*font-size: 48px;*/
  color:black;
  font-size: 2.667em;
}

#instafeed{
  margin: 0 25%;
  width: auto;
}

#instafeed a{
  margin: 5px 0px 0px 5px;
}

#about{
  margin: 0 20%;
  width: auto;
  height: auto;
}

.AboutWrapper:{
  height:auto;
  width: auto;
  text-align: left;
}


.AboutWrapper h2{
  color: black;
  text-align: left;
  font-weight: bold;
/*  font-size: 24px;*/
	font-size: 1.6em;
  margin: 35px 0px 0px 0px;
}

.AboutWrapper p{
  margin: 15px 0px 0px 0px;
  color: black;
  text-align: left;
  font-size: 1.2em;
}

.Buttons{
  margin: 15px 20% 0px;
  width: auto;
  height: auto;
  font-family: calibri;
  font-weight: bold;
}

#resume{
  margin: 0 20%;
  width: auto;
  height: auto;
  font-family: calibri;
}

.ResumeWrapper h2{
  color: black;
  text-align: left;
  font-weight: bold;
/*  font-size:24px;*/
	font-size: 1.333em;
}

#career{
  margin: 0 20%;
  width: auto;
  height: auto;
  font-family: calibri;
}

.CareerWrapper h2{
  color: black;
  text-align: left;
  font-weight: bold;
/*  font-size:24px;*/
	font-size: 1.6em;
}

.CareerWrapper ul li{
	font-family: calibri;
}

ul li{
  text-align: left;
  color:black;
/*  font-size: 18px;*/
	font-size: 1.1em;
/*  font-family: calibri;*/
  list-style: disc;
  margin: 5px 0px 0px 20px;
  line-height: 150%;
}

#funFactsWrapper ul li{
  width: auto;
  margin: 0px auto;
  color:white;
/*  font-size: 18px;*/
	font-size: 1.1em;
}

#resume hr{
  color: gray;
}

#resume h2{
  margin: 25px 0px 0px 0px;
  font-family: calibri;
}

#resume h3{
  color: black;
  text-align: left;
  width: auto;
  font-family: calibri;
}

#resume h4{
color: black;
text-align: left;
font-family: calibri;
}

#resume p{
  color: black;
  text-align: left;
  font-family: calibri;
/*  font-size: 14px;*/
	font-size: 0.778em;
}

#resume span{
  color: black;
  text-align: left;
  font-family: calibri;
/*  font-size: 14px;*/
	font-size: 0.778em;
  text-decoration: underline;
}

#career hr{
  color: gray;
}

#career h2{
  margin: 35px 0px 0px 0px;
  font-family: calibri;
}

#career h3{
  color: black;
  text-align: left;
  width: auto;
  font-family: calibri;
  font-weight: bold;
  font-size:1.1em;
}

#career h4{
color: black;
text-align: left;
font-family: calibri;
}

#career p{
  color: black;
  text-align: left;
  font-family: calibri;
/*  font-size: 18px;*/
	font-size: 1.1em;
}

#career span{
  color: black;
  text-align: left;
  font-family: calibri;
/*  font-size: 18px;*/
	font-size: 1.1em;
  text-decoration: underline;
}

.MobileNav{
  display:none;
}


/* MOBILE BREAKPOINT STYLES  */
@media only screen and (max-device-width : 480px) {

.Nav{
  display:none;
}

.MobileLinks{
	display:none;
}

.FooterLinks{
  display:none;
}

#mobileCross{
	display:none;
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:13px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

#mobileHamburger{
  position:absolute;
  background: none;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

header{
	width:100%;
	background:#1d1f20;
	height:60px;
	line-height:60px;
}

.MobileNav{
  display:block;
  position:relative;
  font-weight:bold;
  font-size:1.3em;
  width:100%;
  background:#131313;
  text-align:center;
}
.MobileLinks ul {list-style-type: none; margin:0px; padding:0px; list-style-image: none;}
.MobileLinks li {display: block; margin:0px; padding:0px; border-bottom:#1d1f20 1px solid; text-align:center;}
.MobileLinks ul a li{ text-decoration:none; color:#fff; width:100%; text-align:center; padding: 15px 0px; font-family: calibri;}
.MobileLinks a:link{text-decoration:none; color:#fff;}
.MobileLinks a:visited{text-decoration:none; color:#fff;}
.MobileLinks a:active{text-decoration:none; color:#fff;}
.MobileLinks a:hover{text-decoration:none; color:#fff;}

h1.Tag{
  font-size: 2.5em;
  margin: 5% 10% 0% 10%;
  text-align: center;
}

#heroHome{
  background-image: url('../images/home-min-mobile.png');
  background:cover;
  min-height: 450px;
}

#heroAbout{
  background-image: url('../images/about-min-mobile.png');
  background-size: cover;
  min-height: 500px;
}

#heroCareer{
  background-image: url('../images/career-min-mobile.png');
  background-size: cover;
  min-height: 420px;
}


}
